.container {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхней части */
    width: 100%;
  }
  
  .productImage {
    width: 145px;
    height: 145px;
    margin-right: 20px; /* Отступ справа от изображения */
    max-width: 160px;
  }
  
  .infoContainer {
    display: flex;
    width: 100%;
    flex-direction: column; /* Вложенные поля ввода будут располагаться вертикально */
    gap: 10px; /* Расстояние между полями ввода */
  }

  .collectionImage {
    height: 150px;
    margin-right: 10px;
  }
