.radioButtonGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Расстояние между радиокнопками */
  }
  
  .radioButtonGroupContainer.horizontal {
    flex-direction: row;
  }
  