.container {
  display: flex;
  cursor: pointer;
  padding: 8px;
  position: relative;
  transition: all var(--transition-1);
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden; 
  max-width: 640px;
}

.container:hover {
  border: 1px solid #ccc;
  background-color: var(--grey-3);
}

.deleteIcon {
  width: 32px;
  height: 32px;
  color: var(--grey-1);
  cursor: pointer;
  transition: all var(--transition-1);
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.container:hover .deleteIcon {
  opacity: 1;
}

.deleteIcon:hover {
  border-radius: 8px;
  background-color: var(--grey-1);
  color: var(--white);
}

.selected {
  border: 1px solid var(--grey-1);
}

.gradientImageContainer {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 101%;
  overflow: hidden; 
}

/* .gradientImageContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 101%;
  overflow: hidden; 
} */

.info {
  z-index: 2;
}