.container {
    flex: 1; /* растягивает контейнер на все свободное пространство */
    max-width: 1180px;
    width: 100%;
    height: inherit;
    padding-top: 40px;
  }

p {
  color:var(--grey-1);
}

.headingContainer{
  padding-bottom: 40px;
}

@media screen and (max-width: 764px)  {

  .tabs{
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
  }

  .container{
    padding-top: 12px;
  }

  .headingContainer {
    padding-bottom: 24px;
    padding-left: 14px;
  }
}