.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 300px;
  width: 100%;
}

.saveButton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 764px)  {

  .info{
    max-width: none;
  }
}