.container {
  position: relative;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  transition: 0.1s linear;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  /* box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08); */
  border-radius: 8px;
  border: 1px solid var(--grey-2);
}

.container:hover{
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.14));
  scale: 1.02;
}

  .gradientImageContainer {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 101%;
    overflow: hidden; 
  }
  
  .collectionPreview {
    transition: 0.1s linear;
    background-color: var(--grey-3);
    width: 100px;
    height: 100%;
    background-size: cover;
  }
  
  .collectionData {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px;
    z-index: 1;
  }
  
  .collectionName {
    color: var(--black-1);
    font: var(--jost-16-regular);
    letter-spacing: 0.1em;
  }
  
  .collectionDescription {
    font: var(--jost-14-regular);
    color: var(--grey-1);
  }
  