.collectionInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    white-space: normal;     /* Разрешает перенос текста на новую строку */
    overflow-wrap: break-word; /* Для того чтобы длинные слова или URL-адреса переносились на новую строку */
  }
  
  .collectionName {
    font: var(--jost-13-regular);
    color: var(--black-1);
    text-transform: uppercase;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .collectionDescription {
    font: var(--jost-14-regular);
    color: var(--grey-1);
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
  .productImagesContainer {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .productImage {
    width: 40px; /* Уменьшим размер изображения */
    height: 40px;
    border-radius: 4px;
    background-color: var(--grey-3);
  }

  .collectionImage {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .overflowSquare {
    box-sizing: border-box;
    font: var(--jost-14-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--white);
    border-radius: 4px;
    /* border: 1px solid var(--grey-2); */
    background-color: rgba(0, 0, 0, 0.4);
  }